.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.backdrop {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.left-50 {
  left: 50%;
}

.right-50 {
  right: 50%;
}
.top-50 {
  top: 50%;
}
.min-w-90 {
  min-width: 92%;
}
.max-w-90 {
  max-width: 90%;
}
.max-h-drop {
  max-height: 50vh;
}

.h-ca {
  height: 50vh;
}
@screen xl {
  .h-ca {
    height: 80vh;
  }
}
.pb-screen {
    padding-bottom: 100vh;
}

.min-w-drop {
  min-width: 240px;
}

.m-0-auto {
  margin: 0 auto;
}

.ws-84 {
  width: 84vw;
}

.max-w-drop {
  max-height: calc(100vw - 30px) ;
}
.drop-enter-active {
  transition: all 250ms cubic-bezier(0.36, 0.74, 0.53, 1.02);
}
.drop-leave-active {
  transition: all 250ms cubic-bezier(0.36, 0.74, 0.53, 1.02);
}
.drop-enter,
.drop-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
.w-10p {
  width: 14%;
}
.w-20p {
  width: 18%;
}