:root {

  // --color-primary: #004643;
  --color-primary: #ff1654;
  --color-primary-rgb: 255,22,84;
  --color-primary-shade: #e0134a;
  
  --color-warning: #ffc409;
  --color-warning-rgb: 255,196,9;
  --color-warning-shade: #e0ac08;

  
  --color-danger: #eb445a;
  --color-danger-rgb: 235,68,90;
  --color-danger-shade: #cf3c4f;
  
  --color-dark: #222222;
  --color-dark-rgb: 62, 62, 62;

  --color-gray: #F5F5F5;
}
